//sass --watch style.scss:../style.css   commande terminal//

$screenleftdroite: yellow;
$screenrightgauche: lightblue;
$screenrightdroite: blue;
$retourgauche: black;
$retourdroite: red;
$bordure: black;
$texteretour: white;
$taillegrand: 30px;
$taillepetit: 12px;
$tailleimagesgrand: 50px;
$radius: 10px;
$tailleimagespetit: 20px;
$centre:center;
$barreRech: red;



@media (min-width: 700px) {
   .screenleft{
      font-size: $taillegrand;
   }
   .screenright{
      font-size: $taillegrand;
   }

   .images{
      height: $tailleimagesgrand;
      width: $tailleimagesgrand;
  }
}

.screenleft, .screenright{
    background-size: cover;
    font-size: $taillepetit;
    border-style: solid;
    border-color: $bordure;
}

.screenleft{
    background-image:url(../img/bob.jpg);
    border-bottom-left-radius: $radius;

}

.screenright{
    background-image:url(../img/dory.jpg);
    border-bottom-right-radius: $radius;

}


.linkdossier:hover{
    cursor: pointer;
    letter-spacing: 3px;
    font-weight: bold;
    background-color: rgba(0,0,0,0.5)
}

.retour{
    padding-top: 5px;
    padding-bottom: 5px;
}

.barreRech, .access, .retour {
   background-color: $barreRech;
   border-right-style: solid;
   border-left-style: solid;
   border-color: $bordure;
   color: $texteretour;
   text-align: $centre;
}

.access{
   border-top-style: solid;
}

.butback{
   background-color: white;
   border-radius: 2px;
   width: 100px;
   height: 40px;
}

.images{
    height: $tailleimagespetit;
    width: $tailleimagespetit;
}
